/* header */

body {
    font-family: "Nunito", sans-serif !important;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    padding-top: 10px;
}

.img {
    float: left;
    margin-top: 5px;
    margin-left: 97px;
    margin-right: 225px;
}

li {
    position: relative;
    float: left;
    font-size: 17px;
    line-height: 45px;
}

a {
    text-decoration: none;
    color: black;
    padding: 15px;
}

    a:hover {
        color: rgb(196, 39, 39);
    }

.active {
    color: rgb(196, 39, 39);
}

.dropdown {
    display: none;
    position: absolute;
    right: 5px;
    width: 190px;
    background: rgb(231, 226, 226);
    padding: 14px 0px 14px 0px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(143, 138, 138, 0.2);
    z-index: 1;
}

li:hover .dropdown {
    display: block;
    background-color: white;
}

.dropdown a:hover {
    background-color: #c92828;
    color: white;
}

.breadcrumb li + li::after {
    content: "|";
}

.nobread li + li::after {
    content: none;
}

.hb {
    display: none;
}

/* footer */

.span {
    text-align: center;
}

.sp {
    color: #BF1E23;
}

.spons {
    display: flex;
    flex-direction: row;
}

.sponser1 {
    width: 200px;
    padding: 15px 70px 15px 70px;
    margin-left: 135px;
}

.sponsers {
    width: 100px;
    padding: 15px 120px 15px 120px;
}

.images {
    margin-top: 60px;
    margin-bottom: 50px;
    height: 80px;
    border-radius: 1px;
    box-shadow: 0px 8px 16px 0px rgba(143, 138, 138, 0.2);
    margin-right: 20px;
    z-index: 1;
}

.footer {
    background: #BF1E23;
    color: white;
}

.newsletter {
    padding-top: 50px;
    padding-bottom: 30px;
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Nunito", sans-serif !important;
    font-size: 30px;
}

.nl {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    height: 45px;
    outline: none;
    margin-bottom: 60px;
}

.tb {
    width: 400px;
    border-radius: 20px 0 0 20px;
    border: none;
    color: rgb(143, 140, 140);
    outline: none;
    padding-left: 15px;
}

.subscribe {
    width: 150px;
    background-color: #363636;
    border-radius: 0 20px 20px 0;
    text-align: center;
    color: #f7f7f7;
}

::placeholder {
    font-size: 15px;
}

.off {
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    padding-right: 50px;
}

.ft {
    display: flex;
    justify-content: space-between;
}

.im {
    width: 120px;
    height: 60px;
    margin-left: 300px;
}

.table {
    letter-spacing: 0.3px;
    margin-left: 0px;
}

.con {
    line-height: 22px;
    width: 250px;
    padding-right: 50px;
}

.fa-facebook, .fa-twitter, .fa-linkedin {
    color: white;
    font-size: 22px;
    padding: 15px 20px 40px 0;
}

    .fa-facebook:hover, .fa-twitter:hover, .fa-linkedin:hover {
        color: rgba(255, 255, 255, 0.699);
    }

.end {
    background: #363636;
    text-align: center;
    color: white;
    padding: 15px 0;
    width: 100%;
}

/* counter */

.bgimg {
    background: url(../images/cunter-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    padding-bottom: 2.3rem;
    margin-top: 100px;
    margin-bottom: 100px;
}

    .bgimg:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(83, 74, 186, 0.88);
        content: "";
    }

.img-container {
    position: relative;
    display: inline-block;
    margin: 90px 50px 35px 50px;
    text-align: center;
}

.imgs {
    width: 120px;
    height: 120px;
}

.no {
    float: left;
    width: 100%;
    font-family: "Nunito", sans-serif !important;
    font-weight: bold;
    font-size: 4rem;
    color: #fff;
    transform: translateY(-50%);
}

/* default */

.cont {
    margin-left: 0px;
    margin-right: 50px;
}

.bg {
    margin-top: 70px;
    margin-bottom: 80px;
    background: url(../images/slider-image.png);
    background-size: cover;
    height: 600px;
    position: relative;
}

    .bg:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(40, 23, 62, 0.62);
        content: "";
    }

.fl {
    color: #EFA506;
    font-size: 40px;
    font-weight: 100;
    padding: 150px 0px 40px 100px;
    isolation: isolate;
}

.sl {
    color: white;
    font-size: 40px;
    padding: 0px 0px 40px 100px;
    isolation: isolate;
}

.clr {
    background-color: #BF1E23;
    padding: 15px;
}

.color {
    color: #EFA506;
}

.btn {
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 30px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    background: #BF1E23;
    border: solid 1px #BF1E23;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 100px;
    isolation: isolate;
}

    .btn:hover {
        color: #BF1E23;
        background: #fff;
        border: solid 1px #BF1E23;
    }


/* container */

.container {
    border: 0px solid rgb(204, 204, 204);
    margin: auto;
    margin-right: 150px;
    margin-top: 80px;
    padding: 20px 50px 5px 30px;
    width: 280px;
    background: url(../images/form-bg.png);
    background-size: cover;
    isolation: isolate;
}

.text {
    width: 240px;
    padding: 18px;
    margin: 5px 0;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.5);
    margin: 12px;
}

.ddl {
    width: 275px;
    font-size: 15px;
}

.dl {
    color: black;
    font-size: 14px;
}

.sbtn {
    margin: 15px 65px 20px 10px;
    width: 280px;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

/* Who are we */

.abt {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

h2 {
    color: #BF1E23;
    font-size: 28px;
}

p {
    padding: 0px 30px 0px 0px;
    color: #575757;
    font-family: "Nunito", sans-serif !important;
    line-height: 35px;
    font-size: 17px;
}

.rbtn {
    margin-left: 0px;
    font-size: 15px;
}

.content {
    margin-left: 100px;
}

/* Why cgi */

.wcgi {
    margin-left: 100px;
    margin-right: 100px;
    font-size: 17px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 100px 100px 100px;
}

.wwwimg {
    text-align: center;
}

.box1, .box2 {
    text-align: center;
    flex: 33.33%;
    font-size: 17px;
    background: #BF1E23;
    color: white;
    line-height: 35px;
    border-radius: 5px;
    padding: 5px 30px 30px 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.box2 {
    background: #363636;
}

/* photo gallery */

.fleximg {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 120px 0px 120px;
}

.pics {
    display: flex;
    flex-wrap: wrap;
}

.spc {
    margin-bottom: 50px;
}

/* video */

.vdoimg {
    margin-top: 100px;
    margin-bottom: 100px;
    float: left;
    width: 100%;
    background: url(../images/video.jpg);
    padding: 17rem 0;
    background-position: center center;
    background-size: cover;
    text-align: center;
    position: relative;
}

    .vdoimg:before {
        background: rgba(0, 0, 0, 0.7);
        content: "";
    }


.vdobtn {
    font-size: 2.3rem;
    width: 80px;
    height: 80px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: lightgrey;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
    isolation: isolate;
}


.fa-play {
    margin-top: 22px;
    margin-left: 7px;
    color: #000;
}

/* about us */

.abtimg {
    margin-top: 70px;
    margin-bottom: 80px;
    background: url(../images/partners-banner.png);
}

    .abtimg:before {
        background: rgba(40, 23, 62, 0.62);
    }

.about {
    display: flex;
    margin-right: 80px;
}

.vm {
    width: 300px;
    margin-right: 20px;
    margin-left: 100px;
}

.bgclr {
    background: rgba(233, 231, 231, 0.521);
    margin-top: 50px;
    margin-right: 0;
    padding-top: 50px;
    padding-bottom: 100px;
}

.abtbgclr {
    margin-top: 0;
}

.ea {
    padding-bottom: 50px;
}

.hp {
    margin-right: 70px;
}

/* leadership */

.ldrimg {
    margin-top: 70px;
    margin-bottom: 80px;
    background: url(../images/leadersipbanner.png);
}

/* compliance council */

.ccimg {
    width: 500px;
}

h3 {
    color: #BF1E23;
}

/* global chapters */

.gcimg {
    margin-left: 100px;
}

.gctext {
    margin-left: 30px;
}

/* partners associates */

.paimg {
    width: 270px;
    margin-top: 15px;
}

hr {
    border: 1px dashed grey;
    margin: 40px 100px 50px 100px;
}

.tit {
    width: 160px;
    margin-right: 53px;
    margin-left: 160px;
}

.patext {
    margin-right: 30px;
    margin-left: 100px;
}

.spimg {
    margin-left: 10px;
}

.csimg {
    margin-top: 15px;
    margin-right: 35px;
}

.border {
    margin-left: 15px;
    margin-top: 25px;
    border: 10px solid #BF1E23;
    border-radius: 50%;
}

.fabtn {
    font-size: 18px;
    color: #BF1E23;
    padding-bottom: 5px;
    padding-right: 8px;
}

    .fabtn:hover {
        color: blue;
    }

.cm {
    font-size: 22px;
    margin-bottom: 0;
    line-height: 0px;
}

.align {
    text-align: center;
}

.cp {
    margin-left: 22px;
}

.txt {
    font-size: 20px;
}

.bottom {
    margin-bottom: 0px;
}

.display {
    display: inline;
    margin-left: 10px;
    list-style: disc;
    list-style-position: outside;
    color: #575757;
}

.list {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

/* council of innovators */

.borders {
    border: 5px solid #BF1E23;
    margin-left: 25px;
    margin-right: 25px;
}
